<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.musescore.MuseScoreStudio5"
    android:installLocation="auto"
    android:versionCode="-- %%INSERT_VERSION_CODE%% --"
    android:versionName="-- %%INSERT_VERSION_NAME%% --">

    <!-- Read scores the user picks/opens from shared storage. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- %%INSERT_PERMISSIONS -->
    <!-- %%INSERT_FEATURES -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:hardwareAccelerated="true"
        android:label="-- %%INSERT_APP_NAME%% --"
        android:icon="-- %%INSERT_APP_ICON%% --"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:fullBackupOnly="false">

        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:label="-- %%INSERT_APP_NAME%% --"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Register MuseScore/MusicXML/MIDI file types by their declared MIME type
                 (used when a file manager or another app reports a known content type). -->
            <intent-filter android:label="-- %%INSERT_APP_NAME%% --">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-musescore" />
                <data android:mimeType="application/x-musescore+xml" />
                <data android:mimeType="application/vnd.recordare.musicxml" />
                <data android:mimeType="application/vnd.recordare.musicxml+xml" />
                <data android:mimeType="audio/midi" />
                <data android:mimeType="audio/x-midi" />
            </intent-filter>

            <!-- Match by file extension for providers that report a generic MIME type
                 (e.g. application/octet-stream). The duplicated pathPattern entries are
                 the standard Android workaround for filenames that contain extra dots. -->
            <intent-filter android:label="-- %%INSERT_APP_NAME%% --">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.mscz" />
                <data android:pathPattern=".*\\..*\\.mscz" />
                <data android:pathPattern=".*\\..*\\..*\\.mscz" />
                <data android:pathPattern=".*\\.mscx" />
                <data android:pathPattern=".*\\..*\\.mscx" />
                <data android:pathPattern=".*\\.mxl" />
                <data android:pathPattern=".*\\..*\\.mxl" />
                <data android:pathPattern=".*\\.musicxml" />
                <data android:pathPattern=".*\\..*\\.musicxml" />
                <data android:pathPattern=".*\\.mid" />
                <data android:pathPattern=".*\\.midi" />
                <data android:pathPattern=".*\\.kar" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="-- %%INSERT_APP_LIB_NAME%% --" />
            <meta-data
                android:name="android.app.arguments"
                android:value="-- %%INSERT_APP_ARGUMENTS%% --" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.qtprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/qtprovider_paths" />
        </provider>
    </application>
</manifest>
